<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="product.clicklabs.jugnoo.driver"
    android:versionCode="245"
    android:versionName="2.4.5" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CLEAR_APP_CACHE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="product.clicklabs.jugnoo.driver.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="product.clicklabs.jugnoo.driver.permission.C2D_MESSAGE" />

    <permission
        android:name="product.clicklabs.jugnoo.driver.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="product.clicklabs.jugnoo.driver.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/jugnoo_icon"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="product.clicklabs.jugnoo.driver" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMIntentService" />

        <activity
            android:name=".SplashNewActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SplashLogin"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RegisterScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ForgotPasswordScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".TriCitySupplyActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LanguagePrefrencesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DriverHistoryActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".OTPConfirmScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ShareActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".HelpParticularActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".NotificationCenterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DriverPatymRecharge"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|adjustResize"></activity>
        <activity
            android:name=".MultipleAccountsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RequestDuplicateRegistrationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChangePhoneBeforeOTPActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RideDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DriverLeaderboardActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SharingRidesActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DriverProfileActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".RideCancellationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".EditDriverProfile"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PhoneEditOTPConfirmScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LoginViaOTP"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".services.DownloadActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".InvoiceDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".DeliveryDetailsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"></activity>


        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".IncomingSmsReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.NotificationService"
            android:enabled="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />
        <service
            android:name=".DriverLocationUpdateService"
            android:enabled="true"
            android:exported="true"
            android:process=":DriverLocationUpdateService"></service>
        <service
            android:name=".services.DownloadService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".DriverTimeoutIntentService"
            android:enabled="true"></service>
        <service
            android:name=".services.ApiAcceptRideServices"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".ContactsUploadService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".PushPendingCallsService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".services.FetchMFileService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".MeteringService"
            android:enabled="true"
            android:exported="true"></service>
        <service
            android:name=".services.SyncMessageService"
            android:enabled="true" />

        <receiver android:name=".LocationReceiverDriver" />
        <receiver android:name=".GPSLocationReceiverBackground" />
        <receiver android:name=".FusedLocationReceiverBackgroundBalanced" />
        <receiver android:name=".FusedLocationReceiverBackgroundHigh" />
        <receiver android:name=".BootCompletedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".DriverLocationUpdateAlarmReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.SEND_LOCATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".MeteringAlarmReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.CHECK_LOCATION" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PathUploadReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.UPOLOAD_PATH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".UploadInRideDataReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.UPLOAD_IN_RIDE_DATA" />
            </intent-filter>
        </receiver>
        <receiver android:name=".TimeOutAlarmReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.UPOLOAD_PATH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".DriverServiceRestartReceiver">
            <intent-filter>
                <action android:name="product.clicklabs.jugnoo.driver.RESTART_SERVICE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".services.DownloadBroadcastReceiver"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".BlankActivityForDialog"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <service android:name=".sticky.GeanieView" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_api_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f96b4d9d9886e413041e7b14fa52434b87709356" />

        <!-- nudgesopt integration -->
        <receiver
            android:name="com.nudgespot.notification.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="product.clicklabs.jugnoo.driver" />
            </intent-filter>
        </receiver>

        <service android:name="com.nudgespot.notification.GcmIntentService" />

        <activity
            android:name="com.nudgespot.notification.ReceiverActivity"
            android:theme="@android:style/Theme.NoDisplay"></activity>

    </application>

</manifest>
